/* Estilos para la página de perfil */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  transition: margin-left 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

.user-not-found {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

.user-not-found h1{
  font-size: 3rem;
}

.content-area {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.sidebar-stats {
  padding: 1em;
  height: 100%;
  width: 15%;
  min-width: 1vw;
}

/* Estilos para móviles: sidebar oculto por defecto */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }
}
