@import url("../../assets/global.css");

.sidebar-toggle-button {
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 80;
  background-color: var(--color-primario);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3 ease;
}

.sidebar-toggle-button {
  transform: scale(1.05);
  background-color: var(--color-hover-boton);
}

@media (min-width: 769px) {
  .sidebar-toggle-button {
    display: none;
  }
}
